<%- include('partials/header') %>
    <h1>FIRE Number Calculator</h1>
    <h4>Finance Independence Retire Early</h4>
    <form method="post" action="/">
        <div class="container">
            <div>
                <label>Desired Monthly Expense</label>
                <input type="text" name="exp" placeholder="Eg: 60000" class="ipt">
            </div>
            <br>
            <div>
                <label>Current Age</label>
                <input type="text" name="age" placeholder="Eg: 23" class="ipt">
            </div>
            <br>
            <div>
                <label>Retirement Age</label>
                <input type="text" name="r_age" placeholder="Eg: 50" class="ipt">
            </div>
            <br>
            <div>
                <label>Inflation</label>
                <input type="text" name="inflation" placeholder="Eg: 7" class="ipt">
            </div>
            <br>
            <div>
                <label>Desired Coast Fire Age</label>
                <input type="text" name="fireage" placeholder="Eg: 40" class="ipt">
            </div>
            <br>
            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
</body>
</html>